@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primary: #000000;
    --color-secondary: #F6F6F6;
    --color-tertiary: #22D4FD;
    --color-hover: #F6F6F6;

    --font-krona: 'Krona One', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.header {
    padding: 2% 0% 0% 15%;
}

.header_nav {
    display: flex;
    gap: 20px;
}

.header_nav_link {
    font-family: var(--font-montserrat);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-tertiary);
    text-decoration: none;
}

.header_nav_link:hover {
    color: var(--color-hover);
}

.title_strong{
    color: var(--color-tertiary);
}

.container {
    margin: 4% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion_container {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_container_title {
    font-family: var(--font-krona);
    font-size: 2rem;
}

.presentacion_container_p, .presentacion_container_list {
    font-family: var(--font-montserrat);
    font-size: 1rem;
}

.presentacion_container_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.image_profile {
    width: 472px;
}

.presentacion_subtitle {
    font-family: var(--font-krona);
    font-size: 1rem;
    font-weight: 400;
}

.presentacion_container_link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--color-tertiary);
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secondary);
    font-family: var(--font-montserrat);
}

.presentacion_container_link:hover {
    color: var(--color-tertiary);
    border: 2px solid var(--color-secondary);
}

.presentacion_container_link img {
    width: 20px;
}

.footer {
    color: var(--color-primary);
    background-color: var(--color-tertiary);
    padding: 24px;
    font-family: var(--font-montserrat);
    font-size: 1rem;
    font-weight: 400;
}

/* =================| RESPONSIVE - MEDIA QUERIES |================= */
/* --- Tablets (Hasta 991px) --- */
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    .container {
        margin: 4% 5%;
    }
    .presentacion_container {
        width: 450px;
    }
    .image_profile {
        width: 350px;
    }
    .presentacion_container_links {
        flex-direction: column;
        gap: 1rem;
    }
}

/* --- Móviles grandes (Landscape) / Tablets pequeñas (Hasta 767px) --- */
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    .header {
        padding: 2rem;
    }

    .header_nav {
        justify-content: center;
    }

    .container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
    }

    .presentacion_container {
        width: 100%;
    }

    .image_profile {
        width: 240px;
    }

    .presentacion_container_links {
        flex-direction: column;
        gap: 1rem;
    }
}